.innerpage-con-wrap{
	overflow: hidden;
	position: relative;
	padding-top: 30px;
	padding-bottom: 70px;
}
.default-page-con {
	padding-bottom: 0;
	padding-top: 0;
}

.fl-dft-overflow-controller {
	overflow: initial;
}
.default-page-con h1,
.dfp-promo-module-title,
.default-page-con h2,
.default-page-con h3,
.default-page-con h4,
.default-page-con h5{
	margin-bottom: 30px;
	line-height: 1.15;
}
.default-page-con h2.red-color{
	color: #8B0102;
}
.dft-text-module{
	padding-bottom: 20px;
}

.default-page-con h2{
	margin-bottom: 10px;
	font-weight: 500;
	color: #4B4B4B;
}
.default-page-con h3{
	color: #4B4B4B;
	font-weight: 500;
	margin-bottom: 15px;
}
.dfp-text-module{
	padding-bottom: 1px;
}

.default-page-con ul,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 0;
	padding-bottom: 20px;
}
.default-page-con ul li,
ul li {
	padding: 5px 0 5px 16px;
	position: relative;
	line-height: 24px;
}

.default-page-con ul li::before, ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    width: 6px;
    height: 6px;
    background: #E0861A;
}
ul li.refGridItem:before{
	display: none;
}
.default-page-con ol, ol {
	padding: 0 0 0 0;
	list-style: none;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
.default-page-con ol li ,ol li {
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
	padding-bottom: 10px;
	line-height: 24px;
	padding-left: 22px;
	position: relative;
}
.default-page-con ol li::before,
ol li::before {
	content: counter(my-awesome-counter) ".";
	color: #E0861A;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	position: absolute;
	left: 0;
	top: 4px;
}
.default-page-con p {
    margin-bottom: 25px;
}

.dfp-promo-module{
	padding-bottom: 30px;
}
.dfp-promo-module h1,
.dfp-promo-module-title{
	font-weight: 700;
	font-size: 60px;
	line-height: 1.1;
	display: block;
	color: #8B0102;
	margin-bottom: 30px;
}

.dfp-plate-one-img-bx img{
	width: 100%;
}

.fl-dft-lftimg-rgtdes {
	margin: 0 0;
	padding-bottom: 30px;
}
.fl-dft-lftimg-rgtdes-lft-img-scale{
	position: relative;
	overflow: hidden;
}
.fl-dft-lftimg-rgtdes-lft-img-inr{
	width: 100%;
	height: 100%;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}
.fl-dft-lftimg-rgtdes-lft-img-inr img{
	display: none;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-lftimg-rgtdes-rgt {
	width: 50%;
	float: left;
	position: relative;
}
.fl-dft-lftimg-rgtdes-rgt {
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 15px;
}
.fl-dft-lftimg-rgtdes-rgt p:last-child{
	margin-bottom: 0;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-testi-controller{
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}



/*-- left des right img customize---*/
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes{
	padding-top: 10px;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft{
	float: right;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
	float: left;
	padding-left: 0;
	padding-right: 30px;
}




.dft-blockquote{
	position: relative;
	background: #E0861A;
	margin-bottom: 35px;
}
.dft-blockquote blockquote{
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	color: #fff;
	padding: 60px 60px 45px 95px;
	margin-bottom: 0;
	position: relative;
}
.dft-blockquote i{
	position: absolute;
	top: 28px;
	left: 25px;
}
.dft-blockquote blockquote strong{
	display: block;
	margin-top: 20px;
}
.dft-blockquote-triangle{
	position: relative;
}
.dft-blockquote-border{
	position: absolute;
	left: 10px;
	top: 10px;
	border-top: 125px solid #8B0102;
    border-right: 100px solid transparent;
}

.default-page-con hr{
	border-top: 2px solid #F9F9F9;
	margin-bottom: 45px;
	margin-top: 0;
	margin-top: 10px;
}


.dfp-convarsal-module{
	background: #F9F9F9;
	padding: 70px 0;
	margin-bottom: 40px;
	margin-left: -120px;
	margin-right: -120px;
	position: relative;
}
.dfp-conversal-module-inr{
	padding-left: 120px;
	padding-right: 120px;
}
.dfp-covesal-logo{
	margin-bottom: 28px;
}
.dfp-convarsal-module .dfp-text-module p strong{
	color: #4B4B4B;
	font-weight: 500;
}

.dfp-goal-1{
	width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
}
.dfp-goal-2{
	width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
}
.dfp-goal-3{
	width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
}

.dfp-goal{
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
}

.dfp-goal-img{
	width: 52px;
	margin-right: 10px;
}

.dfp-goal-des p{
	margin-bottom: 5px;
}
.dfp-goal-des p:last-child{
	margin-bottom: 0;
}
.dfp-goal-img i{
	display: inline-block;
	vertical-align: baseline;
}



.dfp-conversal-text-module p{
	font-size: 10px;
	line-height: 18px;
	margin-bottom: 12px;
}
.dfp-conversal-text-module p strong{
	font-size: 16px;
}
.dfp-conversal-text-module p:last-child{
	margin-bottom: 0;
}
.red .dfp-goal-des p strong{
	color: #A21943;
}
.green .dfp-goal-des p strong{
	color: #3F7E45;
}
.blue .dfp-goal-des p strong{
	color: #14496B;
}

.dfp-convarsal-border{
	position: absolute;
	top: 40px;
	right: 30px;
	border-top: 110px solid #8B0102;
    border-left: 85px solid transparent;
}
.dfp-convarsal-triangle i{
	position: absolute;
	top: 55px;
	right: 45px;
	max-width: 26px;
}

/*
Gallery design
*/

.gallery-wrap{
	padding-top: 1px;
	padding-bottom: 6px;
}
.innerpage-con-wrap .gallery-wrap{
	padding-bottom: 0px;
}
.gallery {
	margin-left: -12px;
	margin-right: -12px;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0 12px;
	margin-bottom: 24px;
}

.gallery-item img {
	width: 100%;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}



.dft-gallery-img-slider-cntlr{
	padding-bottom: 30px;
}
.dftGallerySlider{
	margin: 0 -12px!important;
}
.dftGallerySlideItemImg{
	height: 320px;
}
.dftGallerySlideItem{
	padding: 0 12px;
}
.dftGallerySlider.dftGallerySlider2 .dftGallerySlideItemImg{
	height: 320px;
}


.ac-fancy-module{
    max-width: 100%;
    width: 100%;
    height: 460px;
    position: relative;
    margin-bottom: 30px;
}


.fancy-img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.ac-fancy-module{
    overflow: hidden;
}
.ac-fancy-module:hover .fancy-img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.ms-video-play-cntlr{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    color: #fff;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1;
}
.fancy-border{
	position: absolute;
	top: 4px;
	left: 4px;
	border-top: 50px solid #E0861A;
    border-right: 40px solid transparent;
}

/*extra*/

.dfp-nieuws-module{
	margin-left: -12px;
	margin-right: -12px;
}
.dfp-nieuws-module .tvd-nieuws-grds{
	float: left;
	width: 50%;
}

.dfp-fin-module .tvd-fin{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	background: rgba(66, 189, 115, 0.17);
}
.dfp-fin-module .tvd-fin-inr{
	padding-top: 62px;
	padding-bottom: 75px;
	padding-left: 90px;
	padding-right: 90px;
}
.dfp-fin-module .tvd-fin-title{
	font-weight: 700!important;
	color: #4B4B4B!important;
	margin-bottom: 7px!important;
}
.dfp-fin-module{
	margin-bottom: 90px;
}
.dfp-fin-module.orange .tvd-fin{
	background: rgba(227, 148, 54, 0.17);
}
.dfp-fin-module.orange .tvd-fin-inr a{
	background: #E0861A;
	border-color: #E0861A;
}
.dfp-fin-module.orange .tvd-fin-inr a:hover{
	background: #8B0102;
	border-color: #8B0102;
}
.dfp-fin-module.orange{
	margin-bottom: 40px;
}

.dfp-accordion{
	margin-bottom: 15px;
}
.dfp-accordion h5{
	font-size: 18px;
	line-height: 1;
	margin-bottom: 0;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
	color: #4B4B4B;
	font-weight: 500;
	border: 1px solid #EEEEEE;
	position: relative;
	cursor: pointer;
}
.dfp-accordion h5 i{
	position: absolute;
	top: 50%;
	left: 17px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	color: #E0861A;
}
.dfp-accordion h5:before{
	content: "\f067"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #E0861A;
    font-size: 16px;
    padding-right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 17px;
}
.dfp-accordion h5.active:before{
	content: "\f068"!important;
	color: #fff;
}
.dfp-accordion p{
	margin-top: 30px;
	margin-bottom: 20px;
	padding-left: 18px;
	display: none;
}

.dfp-accordion h5.active{
	background: #E0861A;
	border-color: #E0861A;
	color: #fff;
}
.dfp-accordion h5.active i{
	color: #fff;
}

.dfp-klanten-module{
	background: #F9F9F9;
	padding-top: 55px;
	padding-bottom: 1px;
	margin-bottom: 25px;
}
.dfp-klanten-module .tvd-customer-slider-ctlr{
	margin-left: 0;
	margin-right: 0;
}
.dfp-klanten-module .tvd-customer-title{
	margin-bottom: 35px;
	color: #8B0102;
}
.dfp-klanten-module .tvd-customer-grd{
	padding-left: 10px;
	padding-right: 10px;
}
.tvd-customer-slider-ctlr.tvd-customer-grd{
	display: none!important;
}
.tvd-customer-slider-ctlr.tvd-customer-grd:first-child{
	display: block!important;
}
.tvd-customer-slider-ctlr.slick-initialized.tvd-customer-grd{
	display: block!important;
}

.dfp-des-module{
	margin-left: -10px;
	margin-right: -10px;
}
.dfp-des-lft{
	float: left;
	width: 50%;
	padding-right: 10px;
	padding-left: 10px;
}
.dfp-des-rgt{
	float: right;
	width: 50%;
	padding-right: 10px;
	padding-left: 10px;
}

/*table*/
.dfp-tbl-wrap{
	padding-top: 52px;
}

.table-dsc{
	padding: 0;
	border-top: none;
	background: #fff;
	color: #6A6A6A;
}
.table-dsc table tbody tr td:last-child{
	padding-left: 0;
}
.table-dsc table tbody tr td:last-child span,
.table-dsc table thead tr th:last-child span{
	padding-left: 13px;
}
.table-dsc table{
	width: 100%;
	padding: 20px;
	border: none;
}

.table-dsc table tr th:last-child,
.table-dsc table tr td:last-child{
    padding-left: 0;
}
.table-dsc table tr th:last-child span{
	border-right: none;
}

.table-dsc table tbody tr:first-child td span{
	display: block;
}
.table-dsc table tbody tr:first-child td:last-child span{
	border-right: none;
}
.table-dsc table tbody tr td:first-child span{
	font-weight: 500;
	border-bottom: none;
	text-align: left;
}
.table-dsc table thead tr th:first-child,
.table-dsc table tbody tr td:first-child{
	padding-left: 15px;
	padding-right: 15px;
	width: 125px;
	text-align: center;
}
.table-dsc table tr th {
	border: none;
	color: #4B4B4B;
	font-weight: 500;
	padding: 15px 0;
	line-height: 24px;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
}
.table-dsc table tr th span{
	display: block;
}
.table-dsc table thead th span{
	font-weight: 500;
	font-size: 18px;
	line-height: 1;
	text-transform: capitalize;
	text-align: left;
}
.table-dsc table thead tr th,
.table-dsc table tbody tr td{
	padding-left: 20px;
	padding-right: 0;
}


.table-dsc table thead tr th:first-child,
.table-dsc table thead tr td:first-child{
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 500;
}


.table-dsc table tbody{
	border-top: 0;
	margin: 0 3px;
}
.table-dsc table tbody tr td span{
	padding-top: 15px;
	padding-bottom: 15px;
}
.table-dsc table span{
	display: block;
}
.table-dsc table tbody tr:last-child span{
	border-bottom: none;
}

.table-dsc table tbody tr{
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #edeef0;
}
.table-dsc table thead tr{
	border-top: 1px solid #edeef0;
}


.dfp-btn{
	margin-top: 50px;
}
.dfp-btn-inr ul{
	margin-left: -8px;
	margin-right: -8px;
	padding-bottom: 0;
}
.dfp-btn-inr ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 8px;
	padding-right: 8px;
}
.dfp-btn-inr ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 1;
	font-weight: 700;
	color: #42BD73;
	border: 2px solid #42BD73;
	background: transparent;
	width: 240px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
}
.dfp-btn-inr ul li a.orange-btn{
	background: #E0861A;
	color: #fff;
	border-color: #E0861A;
}
.dfp-btn-inr ul li a.green-btn{
	background: #42BD73;
	color: #fff;
	border-color: #42BD73;
}

.dfp-btn-inr ul li a:hover{
	background: #42BD73;
	color: #fff;
}
.dfp-btn-inr ul li a.orange-btn:hover{
	background: transparent;
	color: #E0861A;
}
.dfp-btn-inr ul li a.green-btn:hover{
	background: transparent;
	color: #42BD73;
}


#fl-nieuws-details .dfp-promomodule-author{
	padding-bottom: 20px;
}
#fl-nieuws-details .dfp-promomodule-author strong{
	font-weight: 500;
	margin-left: 12px;
}
#fl-nieuws-details .dfp-promo-share-module{
	text-align: right;
	margin-top: 20px;
}
#fl-nieuws-details .dfp-promo-share-module span{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 25px;
}
.dfp-social-media-module{
	display: inline-block;
	vertical-align: baseline;
}
.dfp-social-media-module ul{
	margin-left: -8px;
	margin-right: -8px;
	padding-bottom: 0;
}
.dfp-social-media-module ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 8px;
	padding-right: 8px;
}
.dfp-social-media-module ul li a{
	width: 24px;
	height: 24px;
	background: #4B4B4B;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.dfp-social-media-module ul li a:hover{
	background: #E0861A;
}
#fl-nieuws-details .dfp-promo-module{
	border-bottom: 2px solid #F9F9F9;
	margin-bottom: 35px;
}
#fl-nieuws-details .tvd-tringle-border{
	border-bottom: 190px solid #E0861A;
    border-left: 155px solid transparent;
}

.dfp-backlink-module a{
	padding-left: 20px;
	color: #E0861A;
	font-weight: 700;
	position: relative;
}
.dfp-backlink-module a i{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.dfp-backlink-module a:hover{
	color: #8B0102;
}
.dfp-backlink-module a:hover svg{
	fill: #8B0102;
}



@media(max-width: 1399px){
	.dfp-promo-module h1, 
	.dfp-promo-module-title{
		font-size: 55px;
	}
}


@media(max-width: 1199px){
	.dfp-promo-module h1, 
	.dfp-promo-module-title {
	    font-size: 50px;
	}
	.dfp-convarsal-module{
		padding: 50px 0;
		margin-left: -43px;
    	margin-right: -43px;
	}
	.dfp-conversal-module-inr {
	    padding-left: 43px;
	    padding-right: 43px;
	}
	.dfp-goal-des p {
	    font-size: 13px;
	}
	.dfp-fin-module .tvd-fin-inr{
		padding-left: 70px;
    	padding-right: 70px;
	}
	
	
}


@media(max-width: 991px){
	.dfp-promo-module h1, 
	.dfp-promo-module-title{
		font-size: 45px;
	}
	
	.dft-gallery-img-slider-cntlr{
		padding-bottom: 70px;
	}
	.innerpage-con-wrap{
		padding-bottom: 100px;
	}
	.dfp-fin-module .tvd-fin-inr {
	    padding-bottom: 60px;
	    padding-left: 50px;
	    padding-right: 50px;
	}
	.dfp-fin-module {
	    margin-bottom: 80px;
	}
	.dfp-klanten-module{
		padding-top: 45px;
	}
	.tvd-customer-slider {
	    margin-bottom: 50px!important;
	}
	.dfp-covesal-logo {
	    margin-bottom: 50px;
	}
	.dfp-goal {
	    margin-left: 0;
	    margin-right: 0;
	    margin-bottom: 30px;
	    display: block;
	}
	.dfp-goal-1,
	.dfp-goal-2,
	.dfp-goal-3{
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	    display: block;
	}
	.dfp-goal-img i{
		display: none;
	}
	.dfp-goal-des p{
		font-size: 12px;
		display: inline-block;
		vertical-align: baseline;
	}
	.dfp-goal-des{
		padding-left: 15px;
		position: relative;
	}
	.dfp-goal-des:before{
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		width: 6px;
		height: 6px;
		background: #A21943;
	}
	.dfp-goal-2.green .dfp-goal-des:before{
		background: #3F7E45;
	}
	.dfp-goal-2.blue .dfp-goal-des:before{
		background: #14496B;
	}
	.dfp-convarsal-border{
		right: 42px;
	}
	.dfp-convarsal-triangle i{
		right: 55px;
	}
	.dfp-btn-inr ul li{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.tvd-fin-inr p{
		padding-right: 20px;
	}
}
@media(max-width: 850px){

}

@media(max-width: 767px){
	.dfp-promo-module h1, 
	.dfp-promo-module-title{
		font-size: 40px;
		margin-bottom: 20px;
	}
	.dfp-promo-module {
	    padding-bottom: 25px;
	}
	.fl-dft-lftimg-rgtdes-lft,
	.fl-dft-lftimg-rgtdes-lft-img-inr {
	    min-height: 240px;
	    height: 100%;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-left: 15px;
	}
	.default-page-con .dft-grd-col-list-item ul {
	    width: 100%;
	}
	.dft-img-title-grd-col{
		width: 100%;
		float: none;
	}
	.dftGallerySlider.dftGallerySlider2 .dftGallerySlideItemImg{
		height: 450px;
	}
	.dft-gallery-img-slider-cntlr{
		padding-bottom: 50px;
	}
	.innerpage-con-wrap{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.dft-blockquote blockquote {
	    font-size: 12px;
	    padding: 85px 30px 48px 60px;
	}
	.dft-blockquote-border{
		border-top: 110px solid #8B0102;
    	border-right: 90px solid transparent;
	}
	.dft-blockquote i {
	    top: 25px;
	    left: 22px;
	}
	.default-page-con hr{
		margin-bottom: 25px;
		margin-top: 0px;
	}
	.default-page-con p {
	    margin-bottom: 18px;
	}
	.default-page-con ul li, ul li{
		padding-bottom: 0;
	}
	.dfp-nieuws-module {
	    margin-left: 0;
	    margin-right: 0;
	}
	.dfp-nieuws-module .tvd-nieuws-grds {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	    padding-bottom: 0;
	}
	
	.dfp-fin-module .tvd-fin-inr {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.dfp-fin-module {
	    margin-bottom: 70px;
	}
	.dfp-klanten-module {
	    padding-top: 35px;
	    margin-top: 10px;
	}
	.dfp-klanten-module .tvd-customer-title {
	    margin-bottom: 25px;
	}
	.dfp-goal-des:before{
		margin-top: 0;
	}
	.dfp-goal-des p{
		margin-bottom: 5px;
	}
	.dfp-btn-inr ul li a{
		width: 210px;
		height: 46px;
		font-size: 14px;
	}
	.ac-fancy-module{
		margin-bottom: 20px;
	}
	.dfp-fin-module.orange {
	    margin-bottom: 50px;
	    margin-top: 10px;
	}
	.table-dsc table tbody tr td span {
	    font-size: 14px;
	}
	.table-dsc table tbody tr td:first-child span{
		font-size: 18px;
	}
	.dfp-btn-inr ul li{
		padding-bottom: 10px;
	}
	.dfp-convarsal-module .dfp-text-module p strong{
		font-size: 16px;
	}
}



@media(max-width: 639px){
	
	
}



@media(max-width: 575px){
	.gallery {
	    margin-left: -5px;
	    margin-right: -5px;
	    padding-bottom: 5px;
	}
	.gallery-item {
	    padding: 0 5px;
	    margin-bottom: 20px;
	}
	.default-page-con ol,
	.default-page-con ul,
	ol,ul{
		padding-left: 0;
	}
	.dft-2grd-img-con-item-des h4{
		margin-bottom: 15px;
	}
	.default-page-con ul li, ul li {
	    padding: 2px 0 2px 15px;
	    line-height: 22px;
	}
	.default-page-con ul li::before, ul li::before{
		top: 10px;
	}
	.default-page-con ol li, ol li{
		padding-bottom: 5px;
	}
	
	.default-page-con h1, .default-page-con h2, .default-page-con h3, .default-page-con h4, .default-page-con h5 {
	    margin-bottom: 20px;
	}
	.dft-text-module{
		padding-bottom: 20px;
	}
	.dft-heading-txt-module{
		margin-bottom: 50px;
	}
	.dfp-promo-module h1, 
	.dfp-promo-module-title{
		margin-bottom: 20px;
		font-size: 30px;
	}
	.fl-dft-lftimg-rgtdes-rgt {
	    padding-top: 25px;
	}
	
	.innerpage-con-wrap{
		padding-bottom: 50px;
	}
	.dft-blockquote blockquote {
	    padding: 85px 30px 48px 60px;
	}
	.dft-blockquote i {
	    left: 20px;
	}
	.dfp-convarsal-border{
		right: 45px;
	}
	.dfp-convarsal-triangle i{
		right: 60px;
	}
	.table-dsc table thead tr th:first-child, 
	.table-dsc table tbody tr td:first-child{
		width: 90px;
	}
	.ac-fancy-module{
		height: 300px;
	}
	.table-dsc{
		overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	}
	.dfp-fin-module .tvd-fin-inr {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.dfp-covesal-logo {
	    margin-bottom: 70px;
	    max-width: 140px;
	    width: 100%;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-lft-img-inr{
		background-image: none!important;
	}
	.fl-dft-lftimg-rgtdes-lft-img-inr img{
		display: block;
	}
	.fl-dft-lftimg-rgtdes-lft-img-inr img.align-right{
		float: right;
		margin-bottom: 20px;
		padding-left: 20px;
	}
	.fl-dft-lftimg-rgtdes-lft-img-inr img.align-left{
		float: left;
		margin-bottom: 20px;
		padding-right: 20px;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
		float: inherit;
		width: 100%;
		padding: 0;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding: 0;
	}
	.dfp-btn-inr ul li a{
		width: 180px;
		height: 44px;
		font-size: 12px;
	}
	.tvd-fin {
	    padding-top: 0;
	    padding-bottom: 0;
	}
	.ms-video-play-cntlr{
		width: 50px;
    	height: 50px;
	}
	.ms-video-play-cntlr i svg{
		max-width: 50px;
		width: 100%;
		height: 50px;
	}
	.dfp-nieuws-module{
		margin-top: 7px;
	}
	.dfp-nieuws-module .tvd-nieuws-grd-item-des-title{
		margin-bottom: 10px;
	}
	.tvd-customer-slider {
	    margin-bottom: 40px!important;
	}
	.dfp-btn-inr ul li{
		padding-bottom: 10px;
	}

}


@media(max-width: 479px){
	.dfp-promo-module h1, 
	.dfp-promo-module-title{
		font-size: 26px;
	}
	.ac-fancy-module{
		height: 250px;
		margin-bottom: 20px;
	}
	.dfp-nieuws-module.slick-slider ul.slick-dots {
	    right: 0px;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-lft-img-inr{
		min-height: 150px;
    	height: 100%;
	}
	.dfp-btn-inr ul li a{
		width: 140px;
		height: 40px;
		font-size: 12px;
	}
	.dfp-nieuws-module.slick-slider ul.slick-dots{
		bottom: 0;
	}
	.dfp-accordion h5{
		font-size: 16px;
	}
	.dfp-nieuws-module.slick-slider ul.slick-dots{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 40px;
		padding: 0 0!important;
	}
	.tvd-nieuws-grd-item{
		max-width: 100%!important;
		width: 100%;
	}
	.tvd-fin-inr p {
	    padding-right: 0px;
	}

}



@media(max-width: 359px){

}

