/*
----------------------
 contact-form-sec-wrp
----------------------
*/
.contact-form-sec-wrp{
	background:#F9F9F9;
	padding: 100px 0;
}
.contact-form-lft{
	width: 65%;
	float: left;
}
.contact-form-rgt{
	width: 35%;
	float: right;
	padding-left: 25px;
}
.page-banner-sec-wrp .tvd-nieuws-entry-hdr-title{
	margin-bottom: 0;
}
.page-banner-sec-wrp .tvd-nieuws-grd-entry-hdr {
    margin-bottom: 80px;
}
.page-banner-sec-wrp .tvd-nieuws-grd-entry-hdr p{
	display: none;
}
/*
---------------------
 Contact Form
---------------------
*/
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:after,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:before{
	content: "";
	clear: both;
	display: table;
}
.contact-form-wrp  div.wpforms-container-full .wpforms-form .wpforms-field{
	clear: initial;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
	width: 50%;
	float: left;
	padding: 0 12px;
	margin-bottom: 26px;
	position: relative;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container{
	margin: 0 -12px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label{
	display: inline-block;
	vertical-align: baseline;
	width: 100%;
	margin: 0;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #6A6A6A;
	margin-bottom: 7px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
	width: 100%;
	max-width: 100%;
	height: 50px;
	background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border:1px solid#fff;
	box-sizing: border-box;
	padding: 15px 20px 16px;
	color: #D0D0D0;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	border-radius: 0;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea{
	width: 100%;
	margin-bottom: 15px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.ProjectFull textarea,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea{
	width: 100%;
	height: 150px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	border: 1px solid #FFF;
	box-sizing: border-box;
	color: #D0D0D0;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	padding: 14px 20px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	resize: none;
	border-radius: 0;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea:focus,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus{
	border-color:#c0bebe;
}
.contact-form-wrp .wpforms-field-pagebreak .wpforms-clear button,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
    max-width: 180px;
    width: 100%;
    height: 50px;
    border: 2px solid #E0861A!important;
    background: #E0861A;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 3%);
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: 700;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
    padding: 15px 0 15px;
}
.contact-form-wrp .wpforms-field-pagebreak .wpforms-clear button:hover,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover{
	background: transparent;
	color: #E0861A;
	border-color: #E0861A !important;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.contact-form-wrp .wpforms-container .wpforms-form.was-validated .wpforms-field-container .wpforms-has-error label.wpforms-error{
	display: block;

}
.contact-form-wrp .wpforms-container .wpforms-form.was-validated .wpforms-field-container label.wpforms-error{
	display: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #D92A2B;
    position: absolute;
    right: 30px;
    top: 45px;
    text-align: right;
    width: auto;
    text-transform: inherit;
    margin-bottom: 0;
    display: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error span{
	font-weight: 700;
	font-size: 12px;
	padding-left: 2px;
}
.contact-form-wrp .wpforms-container .wpforms-form.was-validated .wpforms-field-container .wpforms-has-error input {
    border: 1px solid #D92A2B !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container p {
    font-size: 12px;
    line-height: 14px;
    color: #6A6A6A;
    margin-bottom: 24px;
    text-align: left;
    font-style: italic;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container p a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: underline;
	color: #6A6A6A;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container p a:hover{
	color: #E0861A;
}
.contact-form-info{
	background: #FAEDDD;
	padding: 55px 60px 30px;
}
.contact-form-info-title{
	color:#4B4B4B;
	margin-bottom: 15px; 
}
.contact-form-info ul{
	padding-left: 5px;
}
.contact-form-info  ul li{
	display: block;
	padding-bottom: 25px;
	padding-left: 30px;
	position: relative;
}
.contact-form-info  ul li.text-code{
	padding-bottom: 4px;
}
.contact-form-info  ul li.text-code-btw{
	padding-left: 40px;
	margin-left: -8px;
}
.contact-form-info  ul li i{
	position: absolute;
	left: 0;
	top: 0;
}
.contact-form-info  ul li.text-code-address i{
	top: 2px;
}
.contact-form-info  ul li span,
.contact-form-info  ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
	color:#4B4B4B; 
	font-weight: 400;
}
.contact-form-info  ul li a:hover{
	color: #E0861A;
}

/*
--------------------
 Placeholder Css
--------------------
*/

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D0D0D0;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::-moz-placeholder { /* Firefox 19+ */
  color: #D0D0D0;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:-ms-input-placeholder { /* IE 10+ */
  color: #D0D0D0;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:-moz-placeholder { /* Firefox 18- */
  color: #D0D0D0;
  opacity: 1;
}


.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D0D0D0;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea::-moz-placeholder { /* Firefox 19+ */
  color: #D0D0D0;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea:-ms-input-placeholder { /* IE 10+ */
  color: #D0D0D0;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea:-moz-placeholder { /* Firefox 18- */
  color: #D0D0D0;
  opacity: 1;
}


/*
------------------------
 tvd-team-member-wec-wrp
------------------------
*/
.tvd-team-member-wec-wrp{
	padding-top: 75px;
}
.tvd-team-member-wec-wrp .tvd-nieuws-enty-hdr{
	padding-bottom: 45px;
}
.tvd-team-member-wec-wrp .tvd-nieuws-enty-hdr p{
	margin-bottom: 10px;
	padding-bottom: 0;

}
.tvd-team-member-wec-wrp .tvd-nieuws-enty-hdr p:after{
	content: none;
}
.tvd-nieuws-enty-hdr span{
	display: inline-block;
	vertical-align: baseline;
}
.tvd-team-grid-wrp{
	padding-bottom: 70px;
}
.tvd-team-grid-bdr {
    height: 4px;
    background: #F9F9F9;
    margin-left: -25px;
    margin-right: -25px;
}
.tvd-team-grid-slider{
	margin: 0 -12px;
}
.tvd-team-grid-slider .tvd-team-grid-slide-item{
	display: none;
}
.tvd-team-grid-slider .tvd-team-grid-slide-item:first-child{
	display: block;
}
.tvd-team-grid-slider.slick-initialized .tvd-team-grid-slide-item{
	display: block;
}
.tvd-team-grid-slide-item{
	padding: 0 12px;
}
.tvd-team-grid-slide-item-img{
	min-height: 395px;
	position: relative;
}
.tvd-team-grid-hover{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(0deg, rgba(224, 134, 26, 0.9), rgba(224, 134, 26, 0.9)), url(business-JGLN3V2.jpg);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	opacity: 0;
	cursor: pointer;
	padding: 10px 20px;
}
.tvd-team-grid-slide-item-img:hover .tvd-team-grid-hover{
	opacity: 1;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
} 
.tvd-team-grid-hover p{
	color: #fff;
	text-align: center;
	margin-bottom: 0;
}
.tvd-team-grid-tp{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0 10px;
	border-bottom: 2px solid#F9F9F9;
}
.tvd-team-grid-mk{
	float: left;
	width: 50%;
}
.tvd-team-grid-social{
	float: right;
	width: 50%;
}
.tvd-team-grid-social ul{
	margin: 0 -5px;
	float: right;
}
.tvd-team-grid-social ul li{
	float: left;
	padding: 0 5px;
}
.tvd-team-grid-social ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.tvd-team-grid-social ul li a i:hover svg{
	fill: #E0861A;
}
.tvd-team-mk-title{
	color: #4B4B4B;
	font-weight: 500;
	margin-bottom: 5px;
}
.tvd-team-mk-title a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: initial;
}
.tvd-team-mk-title a:hover{
	color: #8B0102;
}
.tvd-team-grid-mk span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 18px;
	color: #E0861A;
	font-weight: 400;
}
.tvd-team-grid-info{
	padding-top: 20px;
}
.tvd-team-grid-info ul li{
	display: block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	padding-bottom: 14px;
}
.tvd-team-grid-info ul li a i{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 10px;
}
.tvd-team-grid-info ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color:#E0861A;
}
.tvd-team-grid-info ul li a:hover{
	color:#8B0102; 
}
.tvd-team-grid-info ul li a:hover i svg{
	fill:#8B0102; 
}

/*
-------------------
 Responsive css
-------------------
*/

@media(max-width: 1199px){
	.contact-form-sec-wrp {
	    padding: 80px 0;
	}
	.contact-form-info {
	    padding: 55px 40px 30px;
	}
	.contact-form-info ul li a br{
		display: none;
	}
	.tvd-team-member-wec-wrp {
	    padding-top: 65px;
	}
	.tvd-team-member-wec-wrp .tvd-nieuws-enty-hdr p {
	    margin-bottom: 45px;
	}
	.tvd-team-grid-slide-item-img {
	    min-height: 365px;
	}
	.tvd-team-grid-mk span{
		font-size: 15px;
	}
	.page-banner-sec-wrp .tvd-nieuws-grd-entry-hdr {
	    margin-bottom: 70px;
	}
	.tvd-team-grid-bdr {
	    margin-left: -20px;
	    margin-right: -20px;
	}
	.tvd-team-member-wec-wrp .tvd-nieuws-enty-hdr {
	    padding-bottom: 40px;
	}


}

@media(max-width: 991px){
	.contact-form-sec-wrp {
	    padding: 60px 0;
	}
	.contact-form-info {
	    padding: 55px 20px 30px 30px;
	}
	.tvd-team-member-wec-wrp {
	    padding-top: 55px;
	}
	.tvd-team-member-wec-wrp .tvd-nieuws-enty-hdr p {
	    margin-bottom: 35px;
	}
	.tvd-team-grid-slide-item-img {
	    min-height: 335px;
	}
	.tvd-team-grid-mk span{
		font-size: 14px;
	}
	.tvd-team-grid-wrp{
		padding-bottom: 60px;
	}
	.page-banner-sec-wrp .tvd-nieuws-grd-entry-hdr {
	    margin-bottom: 50px;
	}
	.tvd-team-grid-bdr {
	    margin-left: -15px;
	    margin-right: -15px;
	}
	
}

@media(max-width: 767px){
	.page-banner-sec-wrp .tvd-nieuws-grd-entry-hdr p{
		display: block;
		font-size: 12px;
		line-height: 18px;
		color: #6A6A6A;
		margin-bottom: 0;
		margin-top: 10px;
	}
	.contact-form-sec-wrp {
	    padding: 30px 0 40px;
	}
	.contact-form-rgt {
	    width: 100%;
	    float: right;
	    padding-left: 0;
	    padding-top: 40px;
	}
	.contact-form-info {
	    padding: 30px 20px 5px 20px;
	    margin-left: -20px;
	    margin-right: -20px;
	}
	.contact-form-lft {
	    width: 100%;
	}
	.contact-form-info ul li span,
	.contact-form-info ul li a{
		font-size: 14px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label {
	    font-size: 12px;
	    line-height: 14px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input {
	    height: 40px;
	    padding: 10px 15px 11px;
	    font-size: 12px;
	    line-height: 14px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
	    margin-bottom: 15px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea {
	    font-size: 12px;
	    line-height: 14px;
	    padding: 10px 15px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container p{
		margin-bottom: 20px;
	}
	.contact-form-wrp .wpforms-field-pagebreak .wpforms-clear button, .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
	    max-width: 140px;
	    width: 100%;
	    height: 40px;
	    font-size: 12px;
	    line-height: 14px;
	    padding: 11px 0 12px;
	}
	.tvd-team-member-wec-wrp {
	    padding-top: 45px;
	}
	.tvd-team-member-wec-wrp .tvd-nieuws-enty-hdr p {
	    margin-bottom: 20px;
	}
	.tvd-team-member-wec-wrp .tvd-nieuws-enty-hdr-title{
		margin-bottom: 10px;
	}
	.tvd-team-grid-slide-item-img {
	    min-height: 280px;
	}
	.tvd-team-mk-title{
		margin-bottom: 3px;
	}
	.tvd-team-grid-mk span{
		font-size: 12px;
	}
	.tvd-team-grid-info ul li{
		font-size: 14px;
	}
	.tvd-team-grid-wrp{
		padding-bottom: 55px;
	}
	.page-banner-sec-wrp .tvd-nieuws-grd-entry-hdr {
	    margin-bottom: 30px;
	}
	.tvd-team-grid-bdr {
	    margin-left: -20px;
	    margin-right: -20px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error{
		top: 39px;
		right: 25px;
	}
	.tvd-team-member-wec-wrp .tvd-nieuws-enty-hdr {
	    padding-bottom: 20px;
	}
}

@media(max-width: 575px){
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
	    width: 100%;
	}
	.tvd-team-grid-slider.slick-dotted.slick-slider {
	    margin-bottom: 0;
	}
	.tvd-team-grid-slider.slick-slider ul.slick-dots {
	    text-align: left;
	    padding-left: 9px !important;
	    margin-top: 14px !important;
	}
	
}

@media(max-width: 479px){


}

@media(max-width: 359px){
	.page-banner-sec-wrp .tvd-nieuws-grd-entry-hdr p br{
		display: none;
	}
}