
.tvd-diensten-sec{
	padding-bottom: 125px;
}

.tvd-diensten-sec-inr{
	display: flex;
	align-items: center;
}
.tvd-diensten-lft{
	width: 50%;
}
.tvd-diensten-rgt{
	width: 50%;
	padding-left: 65px;
}
.tvd-diensten-img{
	min-height: 550px;
}
.tvd-diensten-img img{
	display: none;
}

.tvd-diensten-title{
	color: #8B0102;
}


.tvd-process-sec{
	background: #F9F9F9;
	padding-top: 90px;
	padding-bottom: 50px;
}
.tvd-process-entry-hdr{
	text-align: center;
	padding-bottom: 50px;
	position: relative;
}
.tvd-process-entry-hdr-title{
	margin-bottom: 18px;
	color: #8B0102;
	text-transform: capitalize;
}

.tvd-process-entry-hdr p{
}
.tvd-process-entry-hdr:after{
	content: "";
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    height: 14px;
    width: 100px;
    background: url(../images/border-btm.jpg);
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
}

.rvd-process-grd-items{
	margin-left: -30px;
	margin-right: -30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.rvd-process-grd-item-ctlr{
	width: 20%;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
}
.tvd-process-grd-item{
	text-align: center;
}

.tvd-pgi-img{
	width: 120px;
	height: 120px;
	background: #E0861A;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	position: relative;
}
.tvd-pgi-img-border{
	position: absolute;
	top: 4px;
	left: 4px;
	border-top: 30px solid #8B0102;
    border-right: 25px solid transparent;
}
.tvd-pgi-img i{
	display: inline-block;
	vertical-align: baseline;
}


.tvd-pgi-des-title{
	margin-bottom: 8px;
	font-weight: 500;
	color: #4B4B4B;
}



.dfp-corona-module{
	background: #DFF4E8;
	padding: 70px 90px;
}
.corona-module-title{
	margin-bottom: 10px;
	font-weight: 700;
	color: #4B4B4B;
}

.dfp-corona-module-inr a{
	width: 240px;
	height: 50px;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #42BD73;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #42BD73;
}
.dfp-corona-module-inr a:hover{
	background: #E0861A;
	border-color: #E0861A;
}


.diensten-ctlr .Our-services-sliders-cntlr{
	margin-bottom: 0;
}
.diensten-ctlr .Our-services-cntlr{
	padding-bottom: 70px;
	border-bottom: 4px solid #F9F9F9;
}
.diensten-ctlr .Our-services {
    padding-top: 90px;
    margin-bottom: 75px;
}

.tvd-deinsten-con-sec-inr{
	padding-bottom: 100px;
}

/*min width*/

@media(min-width: 1599px){
	
	
}
@media(min-width: 1920px){
	.tvd-diensten-rgt{
		padding-left: 110px;
	}
}
/*min width*/
@media(max-width: 1799px){
	.tvd-diensten-rgt {
	    padding-left: 110px;
	}
}
@media(max-width: 1599px){
	.tvd-diensten-rgt {
	    padding-left: 75px;
	}
}
@media(max-width: 1499px){

}
@media(max-width: 1399px){
	.tvd-diensten-title{
		font-size: 55px;
	}
	.rvd-process-grd-items{
		margin-left: -20px;
		margin-right: -20px;
	}
	.rvd-process-grd-item-ctlr{
		padding-left: 20px;
    	padding-right: 20px;
	}
	.tvd-process-entry-hdr-title,
	.corona-module-title{
		font-size: 28px;
	}
	.tvd-pgi-des-title{
		font-size: 22px;
	}
	.tvd-diensten-rgt {
	    padding-left: 50px;
	}
}



@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.tvd-diensten-img {
	    min-height: 450px;
	}
	.tvd-diensten-sec {
	    padding-bottom: 100px;
	}
	.tvd-process-sec {
	    padding-top: 75px;
	}
	.diensten-ctlr .Our-services {
	    padding-top: 80px;
	    margin-bottom: 60px;
	}
	.rvd-process-grd-items {
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.rvd-process-grd-item-ctlr{
		width: 25%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.dfp-corona-module {
	    padding: 70px 70px;
	}
	

}

@media(max-width: 991px){
	.tvd-diensten-img {
	    min-height: 400px;
	}
	.tvd-diensten-rgt {
	    padding-left: 30px;
	}
	.tvd-diensten-sec {
	    padding-bottom: 80px;
	}
	.tvd-process-sec {
	    padding-top: 65px;
	    padding-bottom: 40px;
	}
	.rvd-process-grd-item-ctlr{
		width: 33.3333%;
	}
	.diensten-ctlr .Our-services {
	    padding-top: 70px;
	    margin-bottom: 50px;
	}
	.dfp-corona-module {
	    padding: 60px 50px;
	}
	.tvd-deinsten-con-sec-inr {
	    padding-bottom: 90px;
	}
}

@media(max-width: 767px){
	.tvd-diensten-sec-inr{
		display: block;
	}
	.tvd-diensten-lft {
	    width: 100%;
	    margin-bottom: 30px;
	}
	.tvd-diensten-rgt{
		width: 100%;
		padding-left: 0;
	}
	.tvd-diensten-sec {
	    padding-bottom: 60px;
	}
	.tvd-process-sec {
	    padding-top: 55px;
	}
	.rvd-process-grd-items {
	    margin-left: -10px;
	    margin-right: -10px;
	}
	.rvd-process-grd-item-ctlr{
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.diensten-ctlr .Our-services {
	    padding-top: 60px;
	    margin-bottom: 40px;
	}
	.dfp-corona-module {
	    padding: 60px 30px;
	}
	.tvd-deinsten-con-sec-inr {
	    padding-bottom: 75px;
	}
}

@media(max-width: 575px){
	.tvd-diensten-sec {
	    padding-bottom: 40px;
	}
	.tvd-process-grd-item{
		max-width: 320px;
		width: 100%;
		margin: 0 auto;
	}
	.dfp-corona-module {
	    padding: 50px 20px;
	}
	.tvd-deinsten-con-sec-inr {
	    padding-bottom: 55px;
	}

}

@media(max-width: 479px){
	.dfp-corona-module {
	    padding: 45px 15px;
	}
	.tvd-deinsten-con-sec-inr {
	    padding-bottom: 45px;
	}
	.tvd-deinsten-con-sec{
		border-bottom: 4px solid #F9F9F9;
	}

}

@media(max-width: 359px){

}