/*
------------------
steps-form-sec-wrp
------------------
*/
.steps-form-sec-wrp{
	background:#F9F9F9;
	padding: 125px 0;
}
.steps-form-sec-wrp .contact-form-block{
	max-width: 925px;
	width: 100%;
	margin: 0 auto;
}
.steps-form-sec-wrp .wpforms-page-indicator {
    position: relative;
    text-align: right;
    padding-bottom: 25px;
    border-bottom: 2px solid#EEE;
    margin-bottom: 45px;
}
.steps-form-sec-wrp .wpforms-page-indicator-page{
	display: inline-block;
	vertical-align: baseline;
}
.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-number{
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	line-height: 1;
	color: #4B4B4B;
	width: 40px;
	height: 40px;
	background: #fff !important;
	float: left;
	margin: 0 25px;
	position: relative;
}
.contact-form-wrp .step-checkmark-3 .wpforms-page-indicator-page:nth-child(2) span.wpforms-page-indicator-page-number,
.contact-form-wrp .step-checkmark-3 .wpforms-page-indicator-page:nth-child(1) span.wpforms-page-indicator-page-number,
.contact-form-wrp .step-checkmark-1 .wpforms-page-indicator-page:nth-child(1) span.wpforms-page-indicator-page-number{
	background: #42BD73 !important;
	color:#42BD73; 
}
.contact-form-wrp .step-checkmark-3 .wpforms-page-indicator-page:nth-child(2) span.wpforms-page-indicator-page-number:before,
.contact-form-wrp .step-checkmark-3 .wpforms-page-indicator-page:nth-child(1) span.wpforms-page-indicator-page-number:before,
.contact-form-wrp .step-checkmark-1 .wpforms-page-indicator-page:nth-child(1) span.wpforms-page-indicator-page-number:before{
	content: "";
	position: absolute;
	left: 16px;
	top: 11px;
	width: 8px;
	height: 15px;
	border:solid #fff;
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.contact-form-wrp .wpforms-page-indicator-page-3 span.wpforms-page-indicator-page-number{
	margin-right: 0;
}
.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-number:after{
	content: "";
	position: absolute;
	right: -32px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 12px;
	height: 2px;
	border: 2px solid #E1E1E1;
	transform: matrix(1, 0, 0, -1, 0, 0);
}
.contact-form-wrp .wpforms-page-indicator-page-3 span.wpforms-page-indicator-page-number:after{
	content: none !important;
}
.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-title{
	font-size: 30px;
	line-height: 1;
	font-weight: 700;
	color: #8B0102;
	margin-bottom: 0;
	position: absolute;
	left: 0;
	top: 7px;
}
.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-title{
	display: none;
}
.contact-form-wrp .wpforms-page-indicator-page.active span.wpforms-page-indicator-page-title{
	display: block;
}

.contact-form-wrp .wpforms-page-indicator-page.active span.wpforms-page-indicator-page-number{
	background: #E0861A !important;
	color: #fff !important;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .ActivityFull{
	width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-pagebreak{
	width: 100%;
	margin-bottom: 0;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.ProjectFull{
	width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.ProjectFull input{
	height: 166px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-page{
	display: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-page.active{
	display: block;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.NameField label{
	margin-bottom: 21px;
}

/*
-------------------
 Responsive css
-------------------
*/

@media(max-width: 1199px){
	.steps-form-sec-wrp {
	    padding: 100px 0;
	}
	.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-title{
		font-size: 28px;
	}
}

@media(max-width: 991px){
	.steps-form-sec-wrp {
	    padding: 60px 0 70px;
	}
	.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-title{
		font-size: 26px;
	}
	
}

@media(max-width: 767px){
	.steps-form-sec-wrp {
	    padding: 30px 0 50px;
	}
	.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-title{
		font-size: 24px;
	}
}

@media(max-width: 575px){
	.steps-form-sec-wrp .wpforms-page-indicator{
		text-align: left;
		padding-top: 70px;
		margin-bottom: 25px;
	}
	.contact-form-wrp .wpforms-page-indicator-page-1 span.wpforms-page-indicator-page-number {
	    margin-left: 0 !important;
	}
	.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-number{
		width: 32px;
		height: 32px;
		font-size: 16px;
		margin: 0 15px;
	}
	.contact-form-wrp .step-checkmark-3 .wpforms-page-indicator-page:nth-child(2) span.wpforms-page-indicator-page-number:before,
	.contact-form-wrp .step-checkmark-3 .wpforms-page-indicator-page:nth-child(1) span.wpforms-page-indicator-page-number:before,
	.contact-form-wrp .step-checkmark-1 .wpforms-page-indicator-page:nth-child(1) span.wpforms-page-indicator-page-number:before {
		left: 12px;
		top: 7px;
	}
	.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-number:after{
		right: -23px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.ProjectFull input {
	    height: 250px;
	}


}

@media(max-width: 479px){


}

@media(max-width: 359px){

}
