/*
------------------
steps-form-sec-wrp
------------------
*/
.steps-form-sec-wrp{
	background:#F9F9F9;
	padding: 125px 0;
}
.steps-form-sec-wrp .contact-form-block{
	max-width: 925px;
	width: 100%;
	margin: 0 auto;
}
.steps-form-sec-wrp .wpforms-page-indicator {
    position: relative;
    text-align: right;
    padding-bottom: 25px;
    border-bottom: 2px solid#EEE;
    margin-bottom: 45px;
}
.steps-form-sec-wrp .wpforms-page-indicator-page{
	display: inline-block;
	vertical-align: baseline;
}
.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-number{
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	line-height: 1;
	color: #4B4B4B;
	width: 40px;
	height: 40px;
	background: #fff !important;
	float: left;
	margin: 0 25px;
	position: relative;
}
.contact-form-wrp .wpforms-page-indicator-page-3 span.wpforms-page-indicator-page-number{
	margin-right: 0;
}
.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-number:after{
	content: "";
	position: absolute;
	right: -32px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 12px;
	height: 2px;
	border: 2px solid #E1E1E1;
	transform: matrix(1, 0, 0, -1, 0, 0);
}
.contact-form-wrp .wpforms-page-indicator-page-3 span.wpforms-page-indicator-page-number:after{
	content: none !important;
}
.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-title{
	font-size: 30px;
	line-height: 1;
	font-weight: 700;
	color: #8B0102;
	margin-bottom: 0;
	position: absolute;
	left: 0;
	top: 7px;
}
.contact-form-wrp .wpforms-page-indicator-page span.wpforms-page-indicator-page-title{
	display: none;
}
.contact-form-wrp .wpforms-page-indicator-page.active span.wpforms-page-indicator-page-title{
	display: block;
}

.contact-form-wrp .wpforms-page-indicator-page.active span.wpforms-page-indicator-page-number{
	background: #E0861A !important;
	color: #fff !important;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .ActivityFull{
	width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-pagebreak{
	width: 100%;
	margin-bottom: 0;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.ProjectFull{
	width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.ProjectFull input{
	height: 166px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-page{
	display: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-page.active{
	display: block;
}