

.footer-wrp{
	margin-top: 70px;
}
.ftr-top{
	padding-bottom: 40px;
	border-bottom: 2px solid #F9F9F9;
}
.ftr-logo-ctlr{
	float: left;
	width: 34.1379%;
}
.ftr-menu{
	float: left;
}
.ftr-col-1{
	padding-right: 20px;
	width: 17.5862%;
}
.ftr-col-2{
	padding-right: 20px;
	width: 27.2413%;
}
.ftr-col-3{
	padding-right: 20px;
	width: 21.0344%;
}

.ftr-logo{
	padding-bottom: 40px;
}
.ftr-logo a{
	display: inline-block;
	vertical-align: baseline;
}

.ftr-btm-logo ul{
	margin-right: -13px;
	margin-left: -13px;
}
.ftr-btm-logo ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 13px;
	padding-right: 13px;
}
.ftr-btm-logo ul li a{
	display: inline-block;
	vertical-align: baseline;
}


.ftr-menu-title{
	display: block;
	font-size: 20px;
	margin-bottom: 28px;
	line-height: 1;
	font-weight: 500;
	color: #4B4B4B;
	padding-left: 35px;
	position: relative;
}
.ftr-menu-title:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	height: 2px;
	width: 20px;
	background: #E0861A;
}
.ftr-menu ul{
	padding-left: 35px;
}
.ftr-menu ul li{
	padding-bottom: 15px;
}
.ftr-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	line-height: 1;
	color: #6A6A6A;
	font-weight: 500;
}
.ftr-menu.ftr-col-2 ul li{
	padding-bottom: 25px;
}
.ftr-menu.ftr-col-2 ul li a{
	line-height: 1.7;
}
.ftr-menu ul li a:hover,
.ftr-cnt-menu-cv a:hover,
.ftr-cnt-menu-adrs a:hover,
.ftr-cnt-menu-phn a:hover,
.ftr-cnt-menu-mail a:hover,
.ftr-btm-menu ul li a:hover,
.ftr-btm-designby a:hover{
	color: #E0861A;
}

.ftr-cnt-menu-cv,
.ftr-cnt-menu-adrs,
.ftr-cnt-menu-mail{
	padding-bottom: 30px;
	padding-left: 35px;
}
.ftr-cnt-menu-phn,
.ftr-cnt-menu-vat{
	padding-left: 35px;
}
.ftr-cnt-menu-cv a,
.ftr-cnt-menu-cv span,
.ftr-cnt-menu-adrs a,
.ftr-cnt-menu-phn a,
.ftr-cnt-menu-mail a,
.ftr-cnt-menu-vat span{
	color: #6A6A6A;
}

.ftr-btm{
	padding-top: 45px;
	padding-bottom: 50px;
	display: flex;
	align-items: center;
}
.ftr-btm-menu{
	margin-left: auto;
	margin-right: auto;
}
.ftr-copywrite p{
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1;
}
.ftr-btm-menu ul li {
    display: inline-block;
    vertical-align: baseline;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.ftr-btm-menu ul li:after {
    content: "";
    position: absolute;
    top: 32%;
    right: 0;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 1px;
    height: 12px;
    background: #DEDEDE;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
}
.ftr-btm-menu ul li:last-child:after{
	content: none;
}
.ftr-btm-menu ul li a {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
    line-height: 1;
    color: #6A6A6A;
}
.ftr-btm-designby a {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
    line-height: 1;
    color: #6A6A6A;
}


.footer-wrp.ftr-border-top{
	margin-top: 0;
}
.ftr-border-top .ftr-top{
	padding-top: 70px;
	border-top: 4px solid #F9F9F9;
}


/*min width*/

@media(min-width: 1599px){
	
}
@media(min-width: 1920px){
	
}
/*min width*/
@media(max-width: 1599px){

}
@media(max-width: 1599px){
	
}
@media(max-width: 1499px){

}
@media(max-width: 1399px){
	.ftr-menu ul li a br{
		display: none;
	}
}

@media(max-width: 1399px){
	.ftr-logo-ctlr{
		width: 28%;
	}
	.ftr-col-1 {
	    width: 20%;
	}
	.ftr-col-2 {
	    width: 30%;
	}
	.ftr-col-3 {
	    width: 22%;
	}
	
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ftr-logo-ctlr{
		width: 26%;
	}
	.ftr-col-1 {
	    width: 22%;
	}
	.ftr-col-2 {
	    width: 30%;
	}
	.ftr-col-3 {
	    width: 22%;
	}
	.ftr-cnt-menu-adrs a br{
		display: none;
	}
	

}

@media(max-width: 991px){
	.ftr-logo-ctlr {
	    width: 100%;
	    text-align: center;
	    margin-bottom: 35px;
	}
	.ftr-col-1 {
	    width: 30%;
	}
	.ftr-col-2 {
	    width: 42%;
	}
	.ftr-col-3 {
	    width: 28%;
	}
	.ftr-copywrite p,
	.ftr-btm-menu ul li a,
	.ftr-btm-designby a{
		font-size: 12px;
	}
	.ftr-top{
		padding-bottom: 30px;
	}
	.footer-wrp {
	    margin-top: 60px;
	}
	
}

@media(max-width: 767px){
	.ftr-menu-des{
		display: none;
	}
	.ftr-col-1,
	.ftr-col-2,
	.ftr-col-3{
		width: 100%;
	}
	.ftr-menu{
		text-align: center;
	}
	.ftr-menu-title:before{
		content: none;
	}
	.ftr-menu-title{
		display: inline-block;
		padding-left: 0;
		padding-right: 22px;
		position: relative;
	}
	.ftr-menu-title:after{
		content: "\f107"!important;
	    font-family: 'Font Awesome 5 Free';
	    font-weight: 600;
	    text-decoration: inherit;
	    color: #4B4B4B;
	    font-size: 22px;
	    padding-right: 0;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    right: 0;
	    line-height: 15px;
	}
	.ftr-menu-title.active:after{
		content: "\f106"!important;
	}
	.ftr-cnt-menu-cv, 
	.ftr-cnt-menu-adrs, 
	.ftr-cnt-menu-mail {
	    padding-bottom: 15px;
	}
	.ftr-menu.ftr-col-2 ul li {
	    padding-bottom: 15px;
	}
	.ftr-btm-logo{
		text-align: center;
	}
	.ftr-btm {
	    padding-top: 22px;
	    padding-bottom: 25px;
	    display: block;
	}
	.ftr-copywrite{
		text-align: center;
		padding-bottom: 10px;
	}
	.ftr-btm-menu{
		text-align: center;
		padding-bottom: 20px;
	}
	.ftr-btm-designby{
		text-align: center;
	}
	.footer-wrp {
	    margin-top: 45px;
	}
	.ftr-logo {
	    padding-bottom: 0px;
	} 
	.ftr-cnt-menu-mail{
		padding-bottom: 0;
	}
	.ftr-btm-logo ul li{
		margin-top: 20px;
	}
	
}

@media(max-width: 575px){
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}