.header{
	border-top: 6px solid #8b0101;
}
.header-inr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.header-left{

}
.logo{

}
.logo a{
	display: inline-block;
}
.header-right{
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.header-menu{
	padding-right: 45px;
}







nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -28px;
	padding-top: 69px;

}
nav.main-nav > ul > li{
	padding: 0 28px;
	line-height: 1;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
	line-height: 1;
	color: #4B4B4B;
	position: relative;
	padding-bottom: 69px;
}
nav.main-nav > ul > li > a:after {
    content: "";
    width: 29px;
    height: 4px;
    background: url(../images/menu-icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	opacity: 0;

}
nav.main-nav > ul > li > a:hover:after,
nav.main-nav > ul > li.current-menu-item > a:after{
	opacity: 1;
}

nav.main-nav > ul > li.current-menu-item > a,
nav.main-nav > ul > li > a:hover{
	color: #E0861A;
}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}


.hdr-search{
	position: relative;
}
.hdr-search input {
    position: absolute;
    top: 100%;
    padding: 10px 15px;
    width: 0;
    opacity: 0;
    background: #fff;
    right: 0px;
    margin-top: 15px;
    border: 1px solid #4B4B4B;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hdr-search-input-show input {
    width: 435px;
    opacity: 1;
}
.hdr-search-input-show input:focus{
	border-color: #E0861A;
}
.hdr-search button{
	background: transparent;
	cursor: pointer;
}
.hdr-search button:hover i svg,
.hdr-search-input-show button i svg{
	fill: #8B0102;
}