





.hm-banner-cntlr{
	
}
.hm-prev-nxt{
	position: absolute;
	right: 150px;
	bottom: -7px;
	height: 70px;
	width: 175px;
	background: #F9F9F9;
	z-index: 9;
}
.hm-banner-cntlr .fl-prev{
	left: 35px;
}
.hm-banner-cntlr .fl-next{
	right: 35px;
}
.hm-bnr-slider-item-cntlr{
	height: 735px;
	position: relative;
}
.hm-bnr-slider-item{
	height: 100%;
	width: 100%;
}
.hm-bsi-arrow{
	position: absolute;
	border-top: 427px solid #E0861A;
	border-right: 345px solid transparent;
	left: 20px;
	top: 20px;
}



.hm-bsi-desc-cntlr{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 288px 0 122px 95px;
	color: #fff;
}
.hm-bsi-desc-sub-title{
	font-weight: 500;
	font-size: 30px;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 10px;
	display: block;
}
.hm-bsi-desc-title{
	display: block;
	font-weight: 700;
	font-size: 60px;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.hm-bsi-desc{
	max-width: 504px;
	width: 100%;
}
.hm-bsi-desc p{
	margin-bottom: 25px;
}

.hm-bnr-slider.slick-slider ul.slick-dots{
	width: 106px!important;
	position: absolute!important;
	bottom: 26px!important;
	left: 130px!important;
}
.hm-bnr-slider.slick-slider ul.slick-dots li{
	background: rgba(255, 255, 255, 0.2)!important;
}
.hm-bnr-slider.slick-slider ul.slick-dots li.slick-active{
	background: #fff!important;
}


.Our-services{
	padding-top: 60px;
}
.Our-services-sliders-cntlr{
	position: relative;
	margin-bottom: 70px;
}
.Our-services-sliders{
	margin: 0 -12px;
}
.our-services-grids{
	padding: 0 12px;
	margin: 0 0 24px 0;

}
.our-services-grd-item{

}
.our-services-grd-item:hover .osgi-img{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.osgi-img-cntlr{
	height: 253px;
	position: relative;
	overflow: hidden;
	margin-bottom: 27px;
}
.osgi-img{
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.osgi-desc-cntlr{

}
.osgi-desc-title{
	font-weight: 500;
	font-size: 24px;
	line-height: 1;
	color: #4B4B4B;
	margin-bottom: 22px;
}
.osgi-desc-title a{
	color: #4B4B4B;
}
.osgi-desc-title a:hover{
	color: #E0861A;
}
.osgi-desc-title span{
	color: #E0861A;
}
.osgi-desc{
	margin-bottom: 20px;
}
.osgi-desc p{
	margin-bottom: 0;
}
.osgi-desc-btn{

}
.osgi-desc-btn a{
    display: inline-block;
    vertical-align: baseline;
    color: #42BD73;
    font-weight: 700;
    padding-left: 30px;
    position: relative;
}
.osgi-desc-btn a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    height: 2px;
    width: 20px;
    background: #42BD73;
}

.Our-services-sliders-cntlr .fl-prev{
	left: -50px;
	top: 32%!important;
}
.Our-services-sliders-cntlr .fl-next{
	right: -50px;
	top: 32%!important;
}

.Our-services.our-services-grids,
.tvd-customer-sec.tvd-customer-grd{
	display: none!important;
}
.Our-services.our-services-grids:first-child,
.tvd-customer-sec.tvd-customer-grd:first-child{
	display: block!important;
}
.Our-services.slick-initialized.our-services-grids,
.tvd-customer-sec.slick-initialized.tvd-customer-grd{
	display: block!important;
}



.tvd-customer-sec{
	background: #F9F9F9;
	padding-top: 55px;
}

.tvd-customer-hdr{
	text-align: center;
}
.tvd-customer-title{
	display: block;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 35px;
	font-weight: 700;
	color: #8B0102;
}

.tvd-customer-slider-ctlr{
	margin-left: 150px;
	margin-right: 150px;
}

.tvd-customer-slider{
	margin-bottom: 60px!important;
}
.tvd-customer-grd-img{
	padding-bottom: 30px;
}
.tvd-customer-grd-img img{
	margin-left: auto;
	margin-right: auto;
}


@media(max-width: 1199px){
	.tvd-customer-slider-ctlr {
	    margin-left: 100px;
	    margin-right: 100px;
	}
	.Our-services-sliders-cntlr{
		padding-left: 30px;
    	padding-right: 30px;
	}
	.Our-services-sliders-cntlr .fl-prev {
	    left: -5px;
	}
	.Our-services-sliders-cntlr .fl-next {
	    right: -5px;
	}
}
@media(max-width: 991px){
	.tvd-customer-slider-ctlr {
	    margin-left: 50px;
	    margin-right: 50px;
	}
	.Our-services-sliders-cntlr{
		margin-bottom: 50px;
	}
}
@media(max-width: 767px){
	.tvd-customer-sec {
	    padding-top: 45px;
	}
	.tvd-customer-slider-ctlr {
	    margin-left: 20px;
	    margin-right: 20px;
	}
	.tvd-customer-slider {
	    margin-bottom: 40px!important;
	}
	.our-services-grd-item{
		max-width: 350px;
	    width: 100%;
	    margin: 0 auto;
	}
	.Our-services-sliders {
	    margin: 0 0;
	}
	.our-services-grids {
	    padding: 0 0;
	    margin: 0 0 24px 0;
	}
	.Our-services-sliders-cntlr .slick-slider ul.slick-dots {
	    width: 110px;
	    position: absolute;
	    right: 0;
	    bottom: 25px;
	}
	.tvd-customer-grd-img{
		max-width: 75px;
	}
}
@media(max-width: 575px){
	.tvd-customer-sec {
	    padding-top: 35px;
	}
	.Our-services-sliders-cntlr {
	    padding-left: 0;
	    padding-right: 0;
	}
}
@media(max-width: 479px){
	.tvd-customer-sec{
		margin-left: -20px;
		margin-right: -20px;
	}
}