
.tvd-nieuws-sec{
	padding: 90px 0 100px;
}
.tvd-nieuws-enty-hdr{
	text-align: center;
}
.tvd-nieuws-enty-hdr-title{
	display: block;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 18px;
	font-weight: 700;
	color: #8B0102;
}
.tvd-nieuws-enty-hdr p{
	margin-bottom: 35px;
	padding-bottom: 22px;
	position: relative;
}
.tvd-nieuws-enty-hdr p:after{
	content: "";
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	height: 14px;
	width: 100px;
	background: url('../images/border-btm.jpg');
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
}



.tvd-nieuws-slider{
	margin-left: -12px;
	margin-right: -12px;
}
.tvd-nieuws-grds{
	float: left;
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
}

.tvd-nieuws-img-ctlr{
	position: relative;
}
.tvd-nieuws-img{
	min-height: 310px;
}

.tvd-triangle{
	position: absolute;
	right: 10px;
	bottom: 10px;
	border-bottom: 140px solid #E0861A;
    border-left: 110px solid transparent;
    width: 110px;
    height: 140px;
}

.tvd-date-ctlr{
	position: relative;
	height: 100%;
	width: 100%;
}
.tvd-date{
	position: absolute;
	bottom: 0;
	left: 0;
}
.tvd-nieuws-grd-item-des{
	padding-top: 18px;
}
.tvd-nieuws-grd-item-des-title{
	display: block;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 12px;
	font-weight: 500;
	color: #4B4B4B;
}
.tvd-nieuws-grd-item-des-title > a{
	color: #4B4B4B;
}
.tvd-nieuws-grd-item-des p{
	margin-bottom: 18px;
}
.tvd-nieuws-grd-item-des > a{
	display: inline-block;
	vertical-align: baseline;
	color: #42BD73;
	font-weight: 700;
	padding-left: 30px;
	position: relative;
}
.tvd-nieuws-grd-item-des > a:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	height: 2px;
	width: 20px;
	background: #42BD73;
}

.tvd-nieuws-slider-ctlr{
	position: relative;
}
.tvd-nieuws-slider-ctlr .fl-prev{
	left: -65px;
	top: 35%!important;
}
.tvd-nieuws-slider-ctlr .fl-next{
	right: -65px;
	top: 35%!important;
}
.tvd-nieuws-sec.tvd-nieuws-grds{
	display: none!important;
}
.tvd-nieuws-sec.tvd-nieuws-grds:first-child{
	display: block!important;
}
.tvd-nieuws-sec.slick-initialized.tvd-nieuws-grds{
	display: block!important;
}


.tvd-financing-sec-inr{
	margin-left: -12px;
	margin-right: -12px;
}
.tvd-fin{
	float: left;
	width: 50%;
	padding-left: 12px;
	padding-right: 12px;
	display: flex;
	align-items: center;
	background: #F9F9F9;
}
.tvd-nieuws{
	float: left;
	width: 50%;
	padding-left: 12px;
	display: flex;
	align-items: center;
	background: #F9F9F9;
}
.tvd-fin-inr{
	
	padding-left: 92px;
	padding-right: 92px;
}
.tvd-nieuws-inr{
	
	padding-left: 82px;
	padding-right: 82px;
	padding-top: 45px;
	padding-bottom: 42px;
}
.tvd-fin-inr i,
.tvd-nieuws-inr i{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 20px;
}
.tvd-fin-title,
.tvd-nieuws-title{
	display: block;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 7px;
	font-weight: 700;
	color: #4B4B4B;
}
.tvd-fin-inr p{
	margin-bottom: 20px;
}
.tvd-fin-inr a{
	width: 236px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	font-weight: 700;
	background: #42BD73;
	border: 2px solid #42BD73;
}

.tvd-inputfields-row.diveder2{
	margin-left: -13px;
	margin-right: -13px;
}
.diveder2 .tvd-inputfield{
	float: left;
	width: 50%;
	padding-left: 13px;
	padding-right: 13px;
}
.tvd-inputfield{
	width: 100%;
	margin-bottom: 12px;
}
.tvd-inputfield input{
	width: 100%;
}

.tvd-inputfield input[type=text],
.tvd-inputfield input[type=email]{
	height: 40px;
	padding-left: 20px;
	color: #6A6A6A;
	background: #fff;
	border: 1px solid #fff;
	font-size: 12px;
	font-weight: 400;
}

.tvd-inputfield input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6A6A6A;
  opacity: 1;
}
.tvd-inputfield input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: #6A6A6A;
  opacity: 1;
}
.tvd-inputfield input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: #6A6A6A;
  opacity: 1;
}
.tvd-inputfield input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: #6A6A6A;
  opacity: 1;
}

.tvd-inputfield input[type=email]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6A6A6A;
  opacity: 1;
}
.tvd-inputfield input[type=email]::-moz-placeholder { /* Firefox 19+ */
  color: #6A6A6A;
  opacity: 1;
}
.tvd-inputfield input[type=email]:-ms-input-placeholder { /* IE 10+ */
  color: #6A6A6A;
  opacity: 1;
}
.tvd-inputfield input[type=email]:-moz-placeholder { /* Firefox 18- */
  color: #6A6A6A;
  opacity: 1;
}

.tvd-inputfield input[type=text]:focus,
.tvd-inputfield input[type=email]:focus{
	border-color: #4B4B4B;
}

.cnt-btn input[type=submit]{
	font-size: 16px;
	width: 240px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #E0861A;
	border: 2px solid #E0861A;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.cnt-btn input[type=submit]:hover{
	background: #42BD73;
	border-color: #42BD73;
}

.tvd-inputfield em p{
	font-size: 11px;
	margin-bottom: 10px;
	line-height: 1;
}
.tvd-inputfield em p a{
	color: #6A6A6A;
	text-decoration: underline;
}