
.tvd-nieuws-sec{
	padding: 90px 0 100px;
}
.fl-entry-hdr{
	text-align: center;
	padding-bottom: 50px;
	position: relative;
}
.tvd-nieuws-enty-hdr-title{
	display: block;
	margin-bottom: 18px;
	color: #8B0102;
}
.tvd-nieuws-enty-hdr p{
	margin-bottom: 10px;
}
.fl-entry-hdr:after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	height: 14px;
	width: 100px;
	background: url('../images/border-btm.jpg');
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
}



.tvd-nieuws-slider{
	margin-left: -12px;
	margin-right: -12px;
}
.tvd-nieuws-grds{
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
}

.tvd-nieuws-img-ctlr{
	position: relative;
	overflow: hidden;
}
.tvd-nieuws-img{
	min-height: 310px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.tvd-triangle{
	position: relative;
}
.tvd-tringle-border{
	position: absolute;
	right: 10px;
	bottom: 10px;
	border-bottom: 140px solid #E0861A;
    border-left: 110px solid transparent;
}

.tvd-date-ctlr{
	position: relative;
	height: 100%;
	width: 100%;
}
.tvd-date{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.tvd-date strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 24px;
	color: #fff;
	font-weight: 700;
}
.tvd-date span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	color: #fff;
	font-weight: 400;
}
.tvd-nieuws-grd-item-des{
	padding-top: 18px;
}
.tvd-nieuws-grd-item-des-title{
	margin-bottom: 12px;
	font-weight: 500;
	color: #4B4B4B;
}
.tvd-nieuws-grd-item-des-title > a{
	color: #4B4B4B;
}
.tvd-nieuws-grd-item-des-title > a:hover{
	color: #E0861A;
}
.tvd-nieuws-grd-item-con{
	padding-bottom: 1px;
}
.tvd-nieuws-grd-item-con p{
	margin-bottom: 18px;
}
.tvd-nieuws-grd-item-des > a{
	display: inline-block;
	vertical-align: baseline;
	color: #42BD73;
	font-weight: 700;
	padding-left: 30px;
	position: relative;
}
.tvd-nieuws-grd-item-des > a:hover{
	color: #E0861A;
}
.tvd-nieuws-grd-item-des > a:hover:before{
	background: #E0861A;
}
.tvd-nieuws-grd-item-des > a:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	height: 2px;
	width: 20px;
	background: #42BD73;
}

.tvd-nieuws-slider-ctlr{
	position: relative;
}
.tvd-nieuws-slider-ctlr .fl-prev{
	left: -65px;
	top: 35%!important;
}
.tvd-nieuws-slider-ctlr .fl-next{
	right: -65px;
	top: 35%!important;
}
.tvd-nieuws-sec.tvd-nieuws-grds{
	display: none!important;
}
.tvd-nieuws-sec.tvd-nieuws-grds:first-child{
	display: block!important;
}
.tvd-nieuws-sec.slick-initialized.tvd-nieuws-grds{
	display: block!important;
}


.tvd-nieuws-grd-item:hover .tvd-nieuws-img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}


.tvd-financing-sec-inr{
	margin-left: -12px;
	margin-right: -12px;
}
.tvd-fin-left{
	float: left;
	width: 50%;
	padding-left: 12px;
	padding-right: 12px;
	
}
.tvd-nieuws-rgt{
	float: left;
	width: 50%;
	padding-left: 12px;
	
}
.tvd-fin{
	display: flex;
	align-items: center;
	background: #F9F9F9;
	padding-left: 92px;
	padding-right: 92px;
}
.tvd-nieuws{
	display: flex;
	align-items: center;
	background: #F9F9F9;
	padding-left: 82px;
	padding-right: 82px;
	padding-top: 45px;
	padding-bottom: 42px;
}
.tvd-fin-inr i,
.tvd-nieuws-inr i{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 20px;
}
.tvd-fin-title,
.tvd-nieuws-title{
	margin-bottom: 7px;
	color: #4B4B4B;
}
.tvd-fin-inr p{
	margin-bottom: 20px;
}
.tvd-fin-inr a{
	width: 236px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	font-weight: 700;
	background: #42BD73;
	border: 2px solid #42BD73;
}
.tvd-fin-inr a:hover{
	background: #E0861A;
	border-color: #E0861A;
}

.tvd-inputfields-row.diveder2{
	margin-left: -13px;
	margin-right: -13px;
}
.diveder2 .tvd-inputfield{
	float: left;
	width: 50%;
	padding-left: 13px;
	padding-right: 13px;
}
.tvd-inputfield{
	width: 100%;
	margin-bottom: 12px;
}
.tvd-inputfield input{
	width: 100%;
}

.tvd-inputfield input[type=text],
.tvd-inputfield input[type=email]{
	height: 40px;
	padding-left: 20px;
	color: #6A6A6A;
	background: #fff;
	border: 1px solid #fff;
	font-size: 12px;
	font-weight: 400;
}

.tvd-inputfield input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6A6A6A;
  opacity: 1;
}
.tvd-inputfield input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: #6A6A6A;
  opacity: 1;
}
.tvd-inputfield input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: #6A6A6A;
  opacity: 1;
}
.tvd-inputfield input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: #6A6A6A;
  opacity: 1;
}

.tvd-inputfield input[type=email]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6A6A6A;
  opacity: 1;
}
.tvd-inputfield input[type=email]::-moz-placeholder { /* Firefox 19+ */
  color: #6A6A6A;
  opacity: 1;
}
.tvd-inputfield input[type=email]:-ms-input-placeholder { /* IE 10+ */
  color: #6A6A6A;
  opacity: 1;
}
.tvd-inputfield input[type=email]:-moz-placeholder { /* Firefox 18- */
  color: #6A6A6A;
  opacity: 1;
}

.tvd-inputfield input[type=text]:focus,
.tvd-inputfield input[type=email]:focus{
	border-color: #E0861A;
}

.cnt-btn input[type=submit]{
	font-size: 16px;
	width: 240px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #E0861A;
	border: 2px solid #E0861A;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.cnt-btn input[type=submit]:hover{
	background: #42BD73;
	border-color: #42BD73;
}

.tvd-inputfield em p{
	font-size: 11px;
	margin-bottom: 10px;
	line-height: 1;
}
.tvd-inputfield em p a{
	color: #6A6A6A;
	text-decoration: underline;
}
.tvd-inputfield em p a:hover{
	color: #E0861A;
}


/*min width*/

@media(min-width: 1599px){
	
}
@media(min-width: 1920px){
	
}
/*min width*/
@media(max-width: 1599px){

}
@media(max-width: 1599px){
	
}
@media(max-width: 1499px){

}
@media(max-width: 1399px){
	.tvd-nieuws-enty-hdr-title,
	.tvd-fin-title, 
	.tvd-nieuws-title{
		font-size: 28px;
	}
	.tvd-nieuws-grd-item-des-title{
		font-size: 22px;
	}
}



@media(max-width: 1299px){
	.tvd-fin{
		padding-left: 70px;
		padding-right: 70px;
	}
	.tvd-nieuws{
		padding-left: 70px;
		padding-right: 70px;
	}
}

@media(max-width: 1199px){
	.tvd-nieuws-slider-ctlr{
		padding-left: 50px;
		padding-right: 50px;
	}
	.tvd-nieuws-slider-ctlr .fl-prev{
		left: 10px;
	}
	.tvd-nieuws-slider-ctlr .fl-next{
		right: 5px;
	}
	.tvd-nieuws{
		padding-left: 50px;
		padding-right: 50px;
	}
	.tvd-fin{
		padding-left: 50px;
    	padding-right: 50px;
	}
	.tvd-inputfields-row.diveder2 {
	    margin-left: -8px;
	    margin-right: -8px;
	}
	.diveder2 .tvd-inputfield {
	    padding-left: 8px;
	    padding-right: 8px;
	}
	

}

@media(max-width: 991px){
	.tvd-nieuws-enty-hdr-title, 
	.tvd-fin-title, .tvd-nieuws-title {
	    font-size: 26px;
	    margin-bottom: 14px;
	}
	.tvd-nieuws-grd-item-des-title {
	    font-size: 20px;
	}
	.tvd-fin {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.tvd-nieuws {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.tvd-inputfields-row.diveder2 {
	    margin-left: -5px;
	    margin-right: -5px;
	}
	.diveder2 .tvd-inputfield {
	    padding-left: 5px;
	    padding-right: 5px;
	}
	.tvd-nieuws-sec {
	    padding: 80px 0 80px;
	}
}

@media(max-width: 767px){
	.tvd-financing-sec-inr {
	    margin-left: 0;
	    margin-right: 0;
	}
	.tvd-fin-left{
		width: 100%;
		margin-bottom: 12px;
		padding-left: 0;
		padding-right: 0;
	}
	.tvd-nieuws-rgt{
		width: 100%;
		padding-left: 0;
	}
	.tvd-financing-sec .tvd-fin{
		padding-top: 55px;
		padding-bottom: 55px;
	} 
	.tvd-nieuws-inr i{
		display: none;
	}
	.tvd-nieuws{
		padding-top: 55px;
		padding-bottom: 55px;
	}
	/*.tvd-nieuws-slider-ctlr .slick-slider ul.slick-dots{
		width: 110px;
		position: absolute;
		right: 0;
		bottom: 25px;
	}*/
	.tvd-nieuws-slider {
	    margin-left: 0;
	    margin-right: 0;
	}
	.tvd-nieuws-grds {
	    padding-left: 0;
	    padding-right: 0;
	    padding-bottom: 0;
	}
	.tvd-nieuws-img{
		min-height: 270px;
	}
	.tvd-fin-inr a,
	.cnt-btn input[type=submit]{
		width: 210px;
		height: 46px;
		font-size: 14px;
	}
	.tvd-nieuws-slider-ctlr {
	    padding-left: 0;
	    padding-right: 0;
	}
	.tvd-nieuws-slider-ctlr .fl-prev,
	.tvd-nieuws-slider-ctlr .fl-next{
		display: none;
	}
	.tvd-nieuws-entry-hdr p br{
		display: none;
	}
	.tvd-nieuws-sec {
	    padding: 80px 0 40px;
	}

}

@media(max-width: 575px){
	.tvd-fin-inr i, 
	.tvd-nieuws-inr i{
		max-width: 32px;
	}
	.tvd-inputfields-row.diveder2 {
	    margin-left: 0;
	    margin-right: 0;
	}
	.diveder2 .tvd-inputfield{
		width: 100%;
		padding-left: 0;
    	padding-right: 0;
	}
	.tvd-nieuws-img{
		min-height: 220px;
	}
	.tvd-fin-inr a,
	.cnt-btn input[type=submit]{
		width: 180px;
		height: 44px;
		font-size: 12px;
	}
	.tvd-nieuws-slider-ctlr {
	    padding-left: 0;
	    padding-right: 0;
	}

}

@media(max-width: 479px){
	.tvd-fin-inr a,
	.cnt-btn input[type=submit]{
		width: 140px;
		height: 40px;
		font-size: 12px;
	}
	.tvd-nieuws-slider-ctlr .slick-slider ul.slick-dots{
		width: 65px;
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 0 0!important;
	}
	.tvd-financing-sec-inr{
		margin-left: -20px;
		margin-right: -20px;
	}
	.fl-entry-hdr{
		padding-bottom: 40px;
	}
	.tvd-nieuws-sec {
	    padding: 60px 0 15px;
	}
	.tvd-nieuws-grd-item {
	    max-width: 100%;
	}

}

@media(max-width: 359px){

}