

.tvd-nieuws-grd-entry-hdr{
	margin-bottom: 40px;
}
.tvd-nieuws-entry-hdr-title{
	display: block;
	margin-bottom: 50px;
	font-weight: 700;
	color: #8B0102;
}

.tvd-nieuws-grd-entry-hdr ul{
	margin-right: -22px;
	margin-left: -22px;
}
.tvd-nieuws-grd-entry-hdr ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 22px;
	padding-right: 22px;
}
.tvd-nieuws-grd-entry-hdr ul li a,
.tvd-nieuws-grd-entry-hdr ul li label{
	display: inline-block;
	vertical-align: baseline;
	color: #6A6A6A;
	font-weight: 500;
}
.tvd-nieuws-grd-entry-hdr ul li label{
	position: relative;
	cursor: pointer;
}
.tvd-nieuws-grd-entry-hdr ul li label input{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 0;
	opacity: 0;
	z-index: 0;
	cursor: pointer;
}

.tvd-nieuws-grd-entry-hdr ul li label{
	cursor: pointer;
}
.tvd-nieuws-grd-entry-hdr ul li.active a,
.tvd-nieuws-grd-entry-hdr ul li label:hover,
.tvd-nieuws-grd-entry-hdr ul li label.chked {
	color: #E0861A;
}
.tvd-nieuws-grd-entry-hdr ul li a:hover{
	color: #E0861A;
}


.tvd-nieuws-grds-item{
	padding-bottom: 25px;
}
.tvd-nieuws-grds-item ul{
	margin-left: -12px;
	margin-right: -12px;
}
.tvd-nieuws-grds-item ul li{
	float: left;
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 50px;
}
.tvd-nieuws-grds-item ul li:nth-child(3n+1){
	clear: left;
}


.tvd-nieuws-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.tvd-nieuws-grd-item-img{
	min-height: 310px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.tvd-nieuws-grd-item-des{
	padding-top: 20px;
}

.tvd-ngid-title{
	margin-bottom: 12px;
	font-weight: 500;
	color: #4B4B4B;
}
.tvd-ngid-title a{
	color: #4B4B4B;
}
.tvd-nieuws-grd-item-con{
	padding-bottom: 1px;
}
.tvd-nieuws-grd-item-con p{
	margin-bottom: 18px;
}

.tvd-nieuws-grd-item:hover .tvd-nieuws-grd-item-img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.tvd-ngid-title a:hover{
	color: #E0861A;
}


.fl-pagination-ctlr{
	background: #F9F9F9;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	position: relative;
}
.fl-pagination-ctlr ul{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-left: 100px;
	padding-right: 100px;
}
.fl-pagination-ctlr ul li{
	padding-left: 18px;
	padding-right: 18px;
	position: static;
}
.fl-pagination-ctlr ul li span.current{
	display: inline-block;
	vertical-align: baseline;
	border: 2px solid #E0861A;
	width: 26px;
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	color: #fff;
	background: #E0861A;
}
.fl-pagination-ctlr ul li a,
.fl-pagination-ctlr ul li span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	color: #4B4B4B;
	font-weight: 500;
	line-height: 1;
}
.fl-pagination-ctlr ul li a:hover{
	color: #E0861A;
}

.fl-pagination-ctlr ul li a.prev{
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.fl-pagination-ctlr ul li a.prev, 
.fl-pagination-ctlr ul li a.next {
    display: inline-block;
    vertical-align: baseline;
    font-size: 16px;
    line-height: 1;
    color: #4B4B4B;
    font-weight: 500;
}
.fl-pagination-ctlr ul li a.prev {
    padding-left: 28px;
}
.fl-pagination-ctlr ul li a.prev i {
    position: absolute;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
    top: 50%;
}

.fl-pagination-ctlr ul li a.next{
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.fl-pagination-ctlr ul li a.next{
	padding-right: 28px;
}
.fl-pagination-ctlr ul li a.next i{
	position: absolute;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 0;
    top: 50%;
}

.fl-pagination-ctlr ul li a.prev:hover, 
.fl-pagination-ctlr ul li a.prev:hover span, 
.fl-pagination-ctlr ul li a.next:hover, 
.fl-pagination-ctlr ul li a.next:hover span {
    color: #E0861A;
}
.fl-pagination-ctlr ul li a.next:hover svg, 
.fl-pagination-ctlr ul li a.prev:hover svg {
    fill: #E0861A;
}

.fl-pagination-ctlr ul li a.prev:hover i {
    margin-left: -3px;
}
.fl-pagination-ctlr ul li a.next:hover i {
    margin-right: -3px;
}

.tvd-date span {
    text-transform: uppercase;
}


@media(max-width: 1599px){

}
@media(max-width: 1599px){
	
}
@media(max-width: 1499px){

}
@media(max-width: 1399px){
	
}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.tvd-nieuws-grd-entry-hdr {
	    margin-bottom: 30px;
	}
	.tvd-nieuws-entry-hdr-title{
		margin-bottom: 40px;
	}
	.tvd-ngid-title{
		font-size: 19px!important;

	}
	

}

@media(max-width: 991px){
	.tvd-nieuws-entry-hdr-title {
	    margin-bottom: 35px;
	}
	.tvd-nieuws-grds-item ul li{
		width: 50%;
	}
	.tvd-nieuws-grds-item ul li:nth-child(3n+1) {
	    clear: none;
	}
	.tvd-nieuws-grds-item ul li:nth-child(2n+1) {
	    clear: left;
	}
	.tvd-ngid-title {
	    font-size: 18px!important;
	}
	
}

@media(max-width: 767px){
	.tvd-nieuws-entry-hdr-title {
	    margin-bottom: 25px;
	}
	.tvd-nieuws-grds-item ul{
		margin-left: 0;
		margin-right: 0;
	}
	.tvd-nieuws-grds-item ul li {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	    padding-bottom: 20px;
	}
	.tvd-nieuws-grds-item ul li:nth-child(2n+1) {
	    clear: initial;
	}
	.tvd-nieuws-grd-item{
		max-width: 350px;
		width: 100%;
		margin: 0 auto;
	}
	.tvd-nieuws-grd-item-img{
		min-height: 220px;
	}
	.tvd-tringle-border{
		right: 5px;
    	bottom: 5px;
		border-bottom: 110px solid #E0861A;
    	border-left: 90px solid transparent;
	}
	.tvd-date {
	    bottom: 10px;
	    right: 10px;
	}
	.tvd-date strong {
	    font-size: 20px;
	}
	.tvd-date span {
	    font-size: 12px;
	}
}

@media(max-width: 575px){ 
	.fl-pagination-ctlr ul li a.prev span,
	.fl-pagination-ctlr ul li a.next span{
		display: none;
	}

}

@media(max-width: 479px){
	.fl-pagination-ctlr{
		margin-left: -20px;
		margin-right: -20px;
	}
	.fl-pagination-ctlr ul li {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.tvd-nieuws-grd-entry-hdr ul {
	    margin-right: -10px;
	    margin-left: -10px;
	}
	.tvd-nieuws-grd-entry-hdr ul li {
	    padding-left: 10px;
	    padding-right: 10px;
	}

}

@media(max-width: 359px){

}
