/*
--------------------------------
overons-lft-img-rt-dsc-sec-wrp
--------------------------------
*/
.overons-lft-img-rt-dsc-sec-wrp{
	padding-bottom: 125px;
}
.lft-img-rt-dsc-mdul-wrp{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.lft-img-rt-dsc-mdul-img{
	width: 48%;
	float: left;
	height: 550px;
}
.lft-img-rt-dsc-mdul-dsc{
	width: 52%;
	float: right;
	padding-left: 115px;
}
.rgt-mdul-dsc-title{
	display: block;
	color: #8B0102;
	margin-bottom: 40px;
}
.rgt-mdul-dsc-title-1{
	display: block;
	color: #8B0102;
	margin-bottom: 16px;
}
.lft-img-rt-dsc-mdul-dsc a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	line-height: 1;
	font-weight: 700;
	width: 240px;
	height: 50px;
	background: #E0861A;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	border:2px solid#E0861A;
	padding: 0 10px;
}
.lft-img-rt-dsc-mdul-dsc a:hover{
	background: transparent;
	color: #E0861A;
}

/*
---------------------------------
 overons-lft-dsc-rt-img-sec-wrp
---------------------------------
*/
.overons-lft-dsc-rt-img-sec-wrp{
	background:#F9F9F9;
	padding-top: 75px;
	padding-bottom: 130px;
}
.lft-img-rt-dsc-mdul-wrp{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.lft-dsc-rt-img-mdul-img{
	width: 49%;
	float: right;
	height: 430px;
}
.lft-dsc-rt-img-mdul-dsc{
	width:51%;
	float: left;
	padding-right: 25px; 
}
.lft-mdul-dsc-title-1{
	display: block;
	color: #4B4B4B;
	font-weight: 500;
	margin-bottom: 15px;
}

/*
-----------------------
overons-tvd-fin-sec-wrp
-----------------------
*/
.overons-tvd-fin-wrp{
	background: #DFF4E8;
	padding: 60px 30px 75px;
	margin-top: -60px;
}
.overons-tvd-fin-wrp .tvd-fin-inr{
	padding: 0;
	text-align: center;
}
.overons-tvd-fin-wrp .tvd-fin-inr a{
	margin: 0 auto;
	padding: 0 10px;
}
.overons-tvd-fin-wrp .tvd-fin-inr p{
	color: #4B4B4B;
}
.overons-tvd-fin-wrp .tvd-fin-inr a:hover{
	background: transparent;
	color: #E0861A;
}
.lft-img-rt-dsc-mdul-dsc ul{
	padding-bottom: 0;
}
.lft-dsc-rt-img-mdul-img img,
.lft-img-rt-dsc-mdul-img img{
	display: none;
}
.overons-team-sec-wrp .tvd-team-grid-wrp{
	padding-bottom: 90px;
}

/*
-------------------
 Responsive css
-------------------
*/

@media(max-width: 1599px){
	.lft-img-rt-dsc-mdul-dsc p br{
		display: none;
	}
	.lft-img-rt-dsc-mdul-dsc{
		padding-left: 45px;
	}
	.lft-dsc-rt-img-mdul-dsc {
	    padding-right: 15px;
	}
	
}
@media(max-width: 1399px){
	.lft-img-rt-dsc-mdul-dsc {
	    padding-left: 74px;
	}
	.lft-dsc-rt-img-mdul-dsc {
	    padding-right: 10px;
	}
}
@media(max-width: 1199px){
	.rgt-mdul-dsc-title{
		font-size: 52px;
	}
	.rgt-mdul-dsc-title-1 br{
		display: none;
	}
	.rgt-mdul-dsc-title-1{
		font-size: 28px;
	}
	.overons-lft-img-rt-dsc-sec-wrp {
	    padding-bottom: 90px;
	}
	.lft-img-rt-dsc-mdul-img {
	    height: 500px;
	}
	.lft-dsc-rt-img-mdul-img{
		height: 380px;
	}
	.overons-lft-dsc-rt-img-sec-wrp {
	    padding-top: 60px;
	    padding-bottom: 110px;
	}
	.overons-tvd-fin-wrp .tvd-fin-inr p br{
		display: none;
	}
	.lft-img-rt-dsc-mdul-dsc ul li,
	.lft-img-rt-dsc-mdul-dsc p,
	.lft-dsc-rt-img-mdul-dsc p{
		font-size: 14px;
	}
	.lft-img-rt-dsc-mdul-dsc {
	    padding-left: 55px;
	}
	.overons-team-sec-wrp .tvd-team-grid-wrp{
		padding-bottom: 80px;
	}
}

@media(max-width: 991px){
	.rgt-mdul-dsc-title{
		font-size: 42px;
	}
	.rgt-mdul-dsc-title-1{
		font-size: 26px;
	}
	.overons-lft-img-rt-dsc-sec-wrp {
	    padding-bottom: 60px;
	}
	.lft-img-rt-dsc-mdul-img {
	    height: 500px;
	}
	.overons-lft-dsc-rt-img-sec-wrp {
	    padding-top: 45px;
	    padding-bottom: 100px;
	}
	.overons-team-sec-wrp .tvd-team-grid-wrp{
		padding-bottom: 70px;
	}
	.rgt-mdul-dsc-title{
		margin-bottom: 30px;
	}
}

@media(max-width: 767px){
	.rgt-mdul-dsc-title{
		font-size: 30px;
	}
	.rgt-mdul-dsc-title-1{
		font-size: 24px;
	}
	.overons-lft-img-rt-dsc-sec-wrp {
	    padding-bottom: 35px;
	}
	.lft-img-rt-dsc-mdul-img {
		width: 100%;
	    height: 280px;
	}
	.lft-img-rt-dsc-mdul-dsc {
	    padding-left: 0;
	    padding-top: 30px;
	    width: 100%;
	    padding-right: 10px;
	}
	.rt-dsc-dsc-img-mdul-dsc-sm{
		padding-right: 10px;
	}
	.lft-img-rt-dsc-mdul-dsc a {
	    font-size: 12px;
	    width: 140px;
	    height: 40px;
	}
	.lft-dsc-rt-img-mdul-dsc {
	    width: 100%;
	    padding-right: 0;
	}
	.rt-dsc-dsc-img-mdul-dsc-sm{
		width: 50%;
		padding-left: 15px;
	}
	.lft-dsc-rt-img-mdul-dsc p:nth-child(1),
	.lft-dsc-rt-img-mdul-dsc p:nth-child(3),
	.lft-dsc-rt-img-mdul-dsc p:nth-child(4){
		display: none;
	}
	.lft-dsc-rt-img-mdul-img{
		width: 50%;
		height: 250px;
	}
	.overons-lft-dsc-rt-img-sec-wrp {
	    padding-top: 35px;
	    padding-bottom: 40px;
	}
	.overons-tvd-fin-wrp{
		padding-bottom: 60px;
	}
	.overons-tvd-fin-wrp .tvd-fin-inr {
	    text-align: left;
	}
	.overons-tvd-fin-wrp {
	    padding: 60px 18px;
	    margin-top: 0;
	    margin-left: -20px;
	    margin-right: -20px;
	}
	.overons-tvd-fin-wrp .tvd-fin-inr a {
	    margin: 0;
	}
	.rt-dsc-dsc-img-mdul-dsc-sm p{
		margin-bottom: 0;
	}
	.lft-img-rt-dsc-mdul-dsc ul li,
	.lft-img-rt-dsc-mdul-dsc p,
	.lft-dsc-rt-img-mdul-dsc p {
	    font-size: 12px;
	}
	.overons-team-sec-wrp .tvd-team-grid-wrp{
		padding-bottom: 50px;
	}
	.tvd-fin-title{
		margin-bottom: 10px;
	}
	.tvd-fin-inr i{
		margin-bottom: 17px;
	}


}

@media(max-width: 575px){
	.lft-dsc-rt-img-mdul-img {
	    height: 150px;
	}
	.tvd-fin-inr i{
		width: 32px;
		height: 32px;
	}
	.overons-tvd-fin-sec-wrp .tvd-fin-inr a {
	    width: 140px;
	    height: 40px;
	    font-size: 12px;
	}

}

@media(max-width: 479px){
	.rt-dsc-dsc-img-mdul-dsc-sm{
		width: 60%;
	}
	.lft-dsc-rt-img-mdul-img{
		width: 40%;
	}
}

@media(max-width: 359px){

}