.slick-slider ul.slick-dots{
	position: static;
	height: 16px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 14px!important;
	height: 14px!important;
	position: static;
	background: rgba(185, 185, 185, 0.2)!important;
	margin: 0 4px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #B9B9B9!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 14px;
	height: 14px;
}


.fl-prev{
	position: absolute;
	left: 0;
	top: 50%!important;
	transform: translateY(-50%)!important;
	-webkit-transform: translateY(-50%)!important;
	-ms-transform: translateY(-50%)!important;
	width: 30px;
	height: 30px;
	background: transparent;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.fl-next{
	position: absolute;
	right: 0;
	top: 50%!important;
	transform: translateY(-50%)!important;
	-webkit-transform: translateY(-50%)!important;
	-ms-transform: translateY(-50%)!important;
	width: 30px;
	height: 30px;
	background: transparent;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.fl-prev:hover svg{
	fill: #E0861A;
}
.fl-next:hover svg{
	fill: #E0861A;
}
.fl-prev.slick-disabled,
.fl-next.slick-disabled{
	opacity: 0.5;
}

.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}



@media(max-width: 767px){
	.slick-slider .slick-dots li{
		height: 8px!important;
		width: 8px!important;
	}
}